@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

div.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 80px  40px 1fr 40px / 1fr 200px;
    border-radius: 16px;
    text-align: center;
}

.topo {
    grid-area: 1 / 1 / 2 / -1;
    background-color: aliceblue;
}

.menu {
    grid-area: 2 / 1 / 3 / -1;
    background-color: rgb(123, 156, 199);
}

.main {
    grid-area: 3 / 1 / -2 / -2;
    background-color: white;
}

.aside {
    grid-area: 3 / -2 / -2 / -1;
    background-color: whitesmoke;
}

.footer {
    grid-area: -2 / 1 / -1 / -1;
    background-color: aliceblue;
}