@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid lightblue;
    padding: 16px;
}

.caixa1 {
    background-color: aliceblue;
    grid-area: 1 / 1 / 2 / 5;
}

.caixa2 {
    background-color: rgb(160, 192, 219);
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3 {
    background-color: rgb(92, 171, 236);
    grid-area: 2 / 3 / 4 / 5;
}